input{
	margin-top: 20px;
}
img{
	border-radius: 50%;
}
.usuario{
	margin: 5px;
	background-color: rgba(80,80,80,.5);
	border:1px solid lightgray;
	width: 200px;
	/*height: 150px;*/
	padding: 1.5em;
	border-radius: 8px;
	display: inline-block;
	overflow: hidden;
	transition:  background-color .5s;
}
.usuario:hover{
	background-color: rgba(0,0,0,0.8);
}
img:hover{
	transform: rotate(30deg);
}