<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Propiedades computadas</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

	<main class="container" id="app4">
		<h1>{{mensajeAlRevez}}</h1>
		<br>
		<ul>
			<li v-for="tarea in tareasPorAntiguedad">{{tarea.titulo}}</li>
		</ul>
		<form action="" @click=agregarTarea>
			<input type="text" placeholder="Escrbir tarea" v-model='nuevaTarea'>
			<input type="submit" value="Enviar tarea">
		</form>
		<br>
		<pre>{{$data}}</pre>
	</main>


	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>