<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>AJAX CON AXIOS</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	
	<main class="container" id="app12">
		
	<!--	<img v-for="persona in personas" :src="persona.picture.thumbnail" alt="">-->
	<ul>
		<li v-for="persona in lista">{{persona.email}}</li>
	</ul>
		<pre>{{$data}}</pre>
	</main>




	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/app.js"></script>
</body>
</html>